<section class="example-section">
  <mat-checkbox
    class="example-margin"
    [checked]="allChecked"
    (change)="toggleAll()"
    >All</mat-checkbox
  >
  <li *ngFor="let item of itemlist">
    <mat-checkbox
      class="example-margin"
      [checked]="item.checked"
      (change)="toggle(item)"
      >{{ item.name }}</mat-checkbox
    >
  </li>
  <button class="button" mat-raised-button color="primary" (click)="clearAll()">
    Clear All
  </button>

  <div class="selected">
    <p>selected value</p>
    <p *ngFor="let item of itemlist">
      <ng-container *ngIf="item.checked">
        {{ item.name }}
      </ng-container>
    </p>
  </div>
</section>
